{% extends "../layouts/master.html" %}

{% block content %}
<div ng-controller="ProjectCtrl">
  <div class="col-md-12">
    <div class="pull-left">
      <h3>{{project.name}} <a style="font-size: 15px;" class="btn-link" href="/projects/{{project._id}}/slots/add">add a slot</a></h3>
      <p>{{project.description}}</p>
      <p>{{project.serverUser}}@{{project.server}}</p>
    </div>
    <input type="text" style="width: 200px; margin-top: 16px;" class="form-control pull-right" placeholder="Filter slots" ng-model="slotFilter">
    <div class="clearfix"></div>
    <hr>
    <div class="col-md-3" ng-repeat="slot in project.slots | filter: slotFilter">
      <div class="well">
        <h4>{{slot.name}}</h4>
        <label>
          <input type="checkbox" ng-model="slot.status" ng-change="slotStatusChange(slot)">
          {{slot.status ? 'Enabled' : 'Disabled'}}
        </label>
        {{slot.deployInProgress}}
        <button ng-hide="slot.status || slot.deployInProgress" ng-click="deployNow(slot)" class="btn btn-link">Deploy now</button>
        <button class="btn btn-link" ng-show="slot.deployInProgress" disabled>Deploying in progress ..</button>
        <hr>
        <dl class="">
          <dt>Location</dt>
          <dd>{{slot.location}}</dd>
        </dl>
        <dl class="">
          <dt>Branch</dt>
          <dd>{{slot.branch}}</dd>
        </dl>
        <dl class="">
          <dt>Ref</dt>
          <dd>{{slot.ref}}</dd>
        </dl>
        <dl class="">
          <dt>Commands</dt>
          <dd>{{slot.commands}}</dd>
        </dl>
        <button ng-click="callbackUrlAlert()" class="btn btn-link" style="padding: 2px 0px;">Get callback URL</button>
        <br>
        <a href="/projects/{{project._id}}/slot/{{slot.name}}/results">Deployment log</a>
        <button ng-click="slotDelete(slot, $index)" class="btn-link" style="padding: 2px 0px;">Delete</button>
      </div>
    </div>
    <div class="col-md-3" ng-hide="project.slots.length > 0">
      <div class="well">
        <h4>No slots added yet</h4>
        <!-- <p></p> -->
        <a href="/projects/{{project._id}}/slots/add" class="btn-link">Add a slot</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $('#navDashboard').addClass('active');
</script>

<script>
  angular.module('DeployerApp')
    .controller('ProjectCtrl', ['$scope', '$http', '$timeout', function ($scope, $http, $timeout) {
      window.s = $scope;
      $scope.project = <%= JSON.stringify(project) %>;
      $scope.slotDelete = slotDelete;
      $scope.slotStatusChange = slotStatusChange;
      $scope.callbackUrlAlert = callbackUrlAlert;
      $scope.deployNow = deployNow;

      function slotDelete (slot, $index) {
        $http.delete('/projects/' + $scope.project._id + '/slots/' + slot.name)
          .then(function (data) {
            $scope.project.slots.splice($index, 1);
          }, fail);
      }
      function slotStatusChange (slot) {
        $http.put('/projects/' + $scope.project._id + '/' + slot.name, {status: slot.status})
          .then(function (data) {
          }, fail);
      }
      function callbackUrlAlert () {
        var message = window.location.protocol + '//' + window.location.host + '/deploy/' + $scope.project._id + '/callback';
        alert(message);
      }
      function deployNow (slot) {
        slot.deployInProgress = true;
        startDeploy(slot);
      }
      function startDeploy (slot) {
        $http.post('/deploy/'+$scope.project._id+'/manual', slot)
          .then(function (data) {
            slot.deployInProgress = false;
            toastr.success("Deployment successfull");
          }, function (err) {
            toastr.error('Deployment failed');
            slot.deployInProgress = false;
          });
      }

      function fail (err) {
        toastr.error('Error');
      }
    }]);
</script>
{% endblock %}
